#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro h1 {
	width: 60%;
	min-height: 500px;
	margin: 5% auto 0;
}

#intro .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background: url(img/rainbow-wood.jpg) bottom;
	padding:.6em 0 0;
	overflow: hidden;
}


#css-controls-demo label {
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio:0) {
/* hack to avoid using the Object element in Safari/WebKit, due to WebKit Bug 27190 */
	object[type="image/svg+xml"] {
		display: none;
	}
	
	#intro h1 {
		background: url(logo.svg) no-repeat center;
		background-size:100% auto;
	}
}

.whitescreen {
    background-color: white;
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
}

.blackscreen {
    background-repeat: no-repeat;
    background-size: contain;
}

#bierglas {
    background-image: url("../images/glasbier.jpg");
    background-position: top right;
}

#nix {
    background-image: url("../images/NIX18-cmyk-payoff-fc.jpg");
    background-position: center center;
}

        
#nix2 {
    background-image: url("../images/wij verkopen geen alcohol onder 18.jpg");
    background-position: center center;
}

#nietdronken {
    background-image: url("../images/drunk-guy.jpg");
    background-position: center center;
}

#vergunning {
    background-image: url("../images/horecavergunning-zeedijk-amsterdam.jpg");
    background-position: center center;
}

#rijden {
    background-image: url("../images/one_man_trash_another_treasure_beer_truck_hd-wallpaper-1882711.jpg");
    background-position: center center;
}

#gifs div {
    display: inline-block;
    width: 49%;
    height: 49%;
    text-align: center;
}
#gifs div img {
    height: 100%;
}
